h1{
    color: white;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
}
html{
    padding: 0px;
    margin: 0px;
}
header{
    height: 50px;
    width: auto;
    background-color: darkorange;
}