@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7EDE2;
  --foreground: #171717;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

header,
footer {
  background-color: #F6BD60
}

p {
  @apply mt-6 text-xl leading-8;
}

h1 {
  @apply mt-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl;
}

ul,
ol {
  @apply mt-6 ml-8;
}

li {
  @apply mt-2;
}

a {
  color: orange;
}

footer a{
  color: black;
}